<div ng-include="'partials/navbar'"></div>
<alert></alert>
<div class="well well-large">
  <p>
    <h1>Download the GruntFile by clicking the logo</h1>
    <a href="/api/user/gruntfile.js" target="_blank">
      <img src="images/grunt-logo.png" alt="Grunt Logo" id="gruntLogo">
    </a>
  </p>
  <br>
  <p>
    <h1>Install Grunt</h1>
    <span class="help-block">Head over to their <a href="http://gruntjs.com/getting-started" target="_blank">getting started page</a>.</span>
  </p>
</div>
<div ng-include="'partials/footer'"></div>