<div ng-include="'partials/navbar'"></div>
<alert></alert>
<div class="well well-large">
	<form ng-submit="login()" class="form-horizontal" name="loginForm">
		<legend>Login</legend>
		<label>Username</label>
		<input type="text" ng-model="username" required autofocus>
		<label>Password</label>
		<input type="password" ng-model="password" required>
		<div class="control-group">
			<div class="control">
				<button type="submit" class="btn">Submit</button>
			</div>
		</div>
	</form>
</div>
<div ng-include="'partials/footer'"></div>