<material-list>
  <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z1">
    <div class="material-flex">
      <material-item ng-repeat="user in userList" ng-cloak>
        <div class="material-tile-left">
          <img ng-src="{{user.avatar}}" alt="User Avatar" class="userAvatar">
        </div>
        <div class="material-tile-content">
          <h2>{{user.username}}</h2>
          <h3 ng-show="user.firstName || user.lastName"><span ng-show="user.firstName">{{user.firstName}}</span> <span ng-show="user.lastName">{{user.lastName}}</span></h3>
          <h3 ng-show="user.lastfm.currentSong.artist">
            Current Song: <a ng-href="{{user.lastfm.currentSong.url}}" target="_blank">{{user.lastfm.currentSong.artist}} - {{user.lastfm.currentSong.song}}</a> <img src="images/icon_eq.gif" alt="Equalizer Icon">
          </h3>
          <p ng-show="user.lastfm.currentSong.artist">
            Last Updated: {{user.lastfm.currentSong.lastUpdated | date: 'medium'}}
          </p>
          <p ng-show="!user.lastfm.currentSong.artist">
            Current Song: N/A
            <br>
            Last Updated: N/A
          </p>
        </div>
        <div class="material-tile-right">
          <h5>Lines Per Minute: {{user.linesPerMinute}}</h5>
        </div>
      </material-item>
      <material-item>
        <div class="material-tile-content" ng-show="!userList || userList.length === 0" ng-cloak>
          <h1>No User's Registered! :(</h1>
        </div>
      </material-item>
    </div>
  </material-whiteframe>
</material-list>