<material-content>
  <material-card>
    <h2>Edit Profile</h2>
      <form ng-submit="editProfile()" class="form-horizontal editProfileForm">
        <material-input-group class="material-input-group-theme-light">
          <label>First Name</label>
          <material-input type="text" ng-model="firstName" autofocus>
        </material-input-group>
        <material-input-group class="material-input-group-theme-light">
          <label>Last Name</label>
          <material-input type="text" ng-model="lastName">
        </material-input-group>
        <material-input-group class="material-input-group-theme-light">
          <label>Last.FM Username</label>
          <material-input type="text" ng-model="lastfmUser" required disabled>
        </material-input-group>
        <material-button type="submit" class="material-button material-button-raised material-button-colored" offline-disabled>Submit</material-button>
      </form>
  </material-card>
  <material-card>
    <h2>Edit Avatar</h2>
    <material-tabs selected="selectedAvatar" class="transparent-light">
      <material-tab label="Upload" disabled="false" on-select="show('upload')"></material-tab>
      <material-tab label="URL" disabled="false" on-select="show('url')"></material-tab>
    </material-tabs>
      <form class="form-horizontal uploadForm" enctype="multipart/form-data" ng-show="showUpload">
        <material-input-group class="material-input-group-theme-light">
          <material-input type="file" file-model="avatarFile" required>
        </material-input-group>
        <material-button type="submit" class="material-button material-button-raised material-button-colored" ng-click="upload()" offline-disabled>Upload</material-button>
      </form>
      <form class="form-horizontal uploadForm" ng-show="!showUpload">
        <material-input-group class="material-input-group-theme-light">
          <label>URL</label>
          <material-input type="text" ng-model="url" required>
        </material-input-group>
        <material-button type="submit" class="material-button material-button-raised material-button-colored" ng-click="upload()" offline-disabled>Submit</material-button>
      </form>
  </material-card>
</material-content>