<div ng-controller="NavbarCtrl" layout="vertical" layout-fill ng-init="selectedItem = 0">
  <material-toolbar class="material-theme-light">
    <div class="material-toolbar-tools">
      <div class="material-tile-left">
        <material-button ng-click="openMenu()" hide-lg>
          <material-icon icon="assets/images/icons/ic_menu_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
      </div>
      <div>
        <h5 class="text-title">Lines Per Beat</h5>
      </div>
      <div class="material-tile-right">
        <material-tabs selected="selectedItem" hide>
          <material-tab ng-repeat="item in menu" label="{{item.title}}" disabled="{{item.disabled}}" ng-show="item.show" on-select="onTabSelected(item)"></material-tab>
        </material-tabs>
      </div>
    </div>
  </material-toolbar>
  <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left" hide-lg>
    <material-toolbar class="material-theme-light">
    <div class="material-toolbar-tools">
        <span>Lines Per Beat</span>
    </div>
    </material-toolbar>
    <material-content>
          <material-list>
              <material-button ng-repeat="item in menu" ng-click="onTabSelected(item)" layout-fill ng-show="item.show">{{item.title}}</material-button>
          </material-list>
    </material-content>
  </material-sidenav>
</div>