.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

material-tab.brand material-tab-label {
  color: #FFFFFF;
  opacity: 6;
}

material-tab.brand {
  width: 50%;
}

form.loginForm .material-input-group input,
form.registerForm .material-input-group input,
form.changePasswordForm .material-input-group input,
form.editProfileForm .material-input-group input,
form.linkForm .material-input-group input,
form.uploadForm .material-input-group input,
form.adminRegisterForm .material-input-group input {
  width: 75%;
}

.divider {
  width: 1px;
  background-color: #FFFFFF;
}

.material-tile-right .fa-users {
  float: right;
  margin-right: 7%;
  color: #4285f4;
}

.help-block {
  color: #999;
  font-size: 0.8em;
  display: inline-block;
  padding-top: 1em;
}

.help-block a,
a#adminRegisterLink,
a#footerLink {
  color: #4285f4;
  text-decoration: none;
}

img.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

img#gruntLogo {
  width: 150px;
  height: 150px;
}

button#adminButton {
  cursor: default;
}

/* Adopted from polymer-project css */
material-tabs.transparent-light {
  background-color: transparent;
  color: #4285F4;
  box-shadow: none;
}