<div ng-include="'partials/navbar'"></div>
<alert></alert>
<div class="well well-large">
  <form ng-submit="changePassword()" class="form-horizontal">
    <legend>Change Your Password</legend>
    <label>Old Password</label>
    <input type="password" ng-model="oldPassword" required autofocus>
    <label>New Password</label>
    <input type="password" ng-model="newPassword" required>
    <label>Confirm New Password</label>
    <input type="password" ng-model="confirmNewPassword" required>
    <div class="control-group">
      <div class="control">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
<div ng-include="'partials/footer'"></div>