<div>
  <material-card>
    <h2>Change Your Password</h2>
    <form ng-submit="changePassword()" class="form-horizontal changePasswordForm">
    <div class="material-input-group material-input-group-theme-light">
      <label>Old Password</label>
      <input type="password" ng-model="oldPassword" required autofocus>
    </div>
    <div class="material-input-group material-input-group-theme-light">
      <label>New Password</label>
      <input type="password" ng-model="newPassword" required>
    </div>
    <div class="material-input-group material-input-group-theme-light">
      <label>Confirm New Password</label>
      <input type="password" ng-model="confirmNewPassword" required>
    </div>
    <button type="submit" class="material-button material-button-raised material-button-colored">Submit</button>
    </form>
  </material-card>
</div>