<div>
  <material-card>
    <h2>Edit Profile</h2>
    <form ng-submit="editProfile()" class="form-horizontal editProfileForm">
    <div class="material-input-group material-input-group-theme-light">
      <label>First Name</label>
      <input type="text" ng-model="firstName" autofocus>
    </div>
    <div class="material-input-group material-input-group-theme-light">
      <label>Last Name</label>
      <input type="text" ng-model="lastName">
    </div>
    <div class="material-input-group material-input-group-theme-light">
      <label>Last.FM Username</label>
      <input type="text" ng-model="lastfmUser" required>
    </div>
    <button type="submit" class="material-button material-button-raised material-button-colored">Submit</button>
    </form>
  </material-card>
</div>