<material-content>
  <material-card flex>
    <h2>Administrative Registration</h2>
    <form ng-submit="register()" class="form-horizontal adminRegisterForm">
      <material-input-group class="material-input-group-theme-light">
        <label>Username</label>
        <material-input type="text" ng-model="username" required autofocus>
      </material-input-group>
      <material-input-group class="material-input-group-theme-light">
        <label>Password</label>
        <material-input type="password" ng-model="password" required>
      </material-input-group>
      <material-input-group class="material-input-group-theme-light">
        <label>Confirm Password</label>
        <material-input type="password" ng-model="confirmPassword" required>
      </material-input-group>
      <material-button type="submit" class="material-button material-button-raised material-button-colored" offline-disabled>Submit</material-button>
    </form>
  </material-card>
</material-content>